extends layout

block content
    h1= message
    div.error
        //- if single error
        if error 
            h2= status
            div= error.stack
        //- express-validator returns an array of errors
        else
            h2= `${status}: ${errors[0].msg} for ${errors[0].param}`
            p Please enter a valid Treehouse username.

            //- If I get a 404 Not found back from Treehouse, I want to show the user that that username does not exist.