extends layout

block content
    div.profile
        //- VARIABLES ------------------------------------------------------
        - var points = profile.points.total
        - var pointsFormatted = Number(points).toLocaleString()
        - var badges = profile.badges
        //- SUMMARY SECTION --------------------------------------------
        section(class="summary")
            p(class="summary")= `${profile.name} has ${pointsFormatted} total points and ${profile.badges.length} badges.`
        //- POINTS SECTION -----------------------------------------------
        //- profile.points is an object with course topics as keys and point values as values. So, each 'point' is a key-value pair. When we use 'each item, index in someObject' to iterate over an object, 'item' is the value and 'index' is actually the key. 
        section(class="points")
            h3 Points Breakdown
            ul#points
                each point, index in profile.points
                    - var pointFormatted = Number(point).toLocaleString()
                    if point > 0
                        if index != "total"
                            - var topic = index.replace(/\:|\?|\$|\_|\,|\.|\'|\s/gi, '').toLowerCase();
                            li(id=`topic${topic}` data-points=`${point}`)= index + ": " + pointFormatted
        //- BADGES SECTION -----------------------------------------------
        section(class="badges")
            h3 Badges
            ul#badges
                each badge in profile.badges
                    li= badge.name
        //- COURSES SECTION -----------------------------------------------
        section(class="courses")
            h3 Completed Courses
            ol#courses
                each badge in badges
                    if badge.courses.length > 0
                        - var title = badge.courses[0].title
                        - var titleId = title.replace(/\:|\?|\$|\_|\,|\.|\'|\s/gi, '').toLowerCase()
                        li(id=`${titleId}`)
                            a(href=`${badge.courses[0].url}` title=`${title}`)=title
    //- SCRIPTS ------------------------------------------------------------------
    script(src="./javascripts/scripts.js")